<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<context:annotation-config></context:annotation-config>

<context:property-placeholder location="classpath:db/db.properties"/>
<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:XE"></property>
<property name="user" value="cc"></property>
<property name="password" value="1234"></property>
</bean>


<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<property name="dataSource" ref="dataSource"></property>
<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
</bean>

<bean name="fileDao" class="spring.service.chap07.fileDao">
<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
</bean>

<bean name="service" class="spring.service.chap11.SidoService">
<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
</bean>

</beans>
